.header{
    font-size: 50px;
    text-align: center;
    background-color: lightgreen;
    height: 100px;
    width: 100%;
}

.hotel{
    background-color: aqua;
    font-size: 35px;
    height: 75px;
    width: 100%;
    text-align: center;
}

.left{
}

.center{
    float: center;
}

.right{
    float: right;
}

.container{
    overflow: hidden;
}

.filterDiv{
    float: left;
    background-color: rebeccapurple;
    color: royalblue;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}

.show{
    display: block;
}

.btn{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: yellow;
    cursor: pointer;
}

.btn:hover{
    background-color: goldenrod
}

.btn.active{
    background-color: red;
    color: white;
}

.lookalikelink{
    color: blue;
    text-decoration: underline;
}