.header{
    font-size: 50px;
    text-align: center;
    background-color: lightgreen;
    height: 80px;
    width: 100%;
}
.subHeader{
    font-size: 35px;
    height: 40px;
    width: 70%;
    background-color: lightgreen;
}
.hotel{
    font-size: 35px;
    height: 75px;
    
    text-align: center;
}

.left{
    float: left;
}
.column{
    width: 33.3%;
}
.row{
    background-color: aqua;
    width: 100%;
}
.row:after{
    content: '';
    display: table;
    clear: both;
}
.container{
   width: 33.3%;
   height: auto;
   background-color: aqua;
}
body{
    background-color: aqua;
}
.container2{
    padding: 64px;
}
.column-66{
    float: left;
    width: 66.6%;
    padding: 20px;
}
.column-33{
    float: left;
    width: 33.3%;
    padding: 20px;
}
.column-66,
.column-33{
    width: 100%;
    text-align: center;
}
.container3{
    width: 100%;
    background-color:lightgreen;
}
.skills{
    text-align:right;
    padding:10px;
    color:white;
}
.comfort1 {width: 90%; background-color: green;}
.price1 {width: 80%; background-color: blue;}
.location1 {width: 65%; background-color: red;}
.services1 {width: 60%; background-color: grey;}

.comfort2 {width: 70%; background-color: green;}
.price2 {width: 70%; background-color: blue;}
.location2 {width: 45%; background-color: red;}
.services2 {width: 70%; background-color: grey;}

.comfort3 {width: 75%; background-color: green;}
.price3 {width: 90%; background-color: blue;}
.location3 {width: 55%; background-color: red;}
.services3 {width: 90%; background-color: grey;}